<h3>delete favor test, login first</h3>
<form action="/delete/favor" method="POST">
	<input type="text" name="tweet_id" value="Enter ori tweet id" /><BR>
	<input type="submit" value="Submit" />
</form>