<h3>create comment test</h3>
<form action="/create/comment" method="POST">
	<input type="text" name="tweet_id" value="Enter ori tweet id" /><BR>
	<input type="text" name="content" value="Enter your comment" /><BR>
	<input type="submit" value="Submit" />
</form>