<h3>homepage with 50 posts of any user</h3>
<form action="/user/submit" method="POST">
	<input type="text" name="user[username]" value="Enter your email" /><BR>
	<input type="text" name="user[password]" value="Enter password" /><BR>
	<input type="submit" value="Submit" />
</form>
<BR>
<a href="/signup">sign up</a><BR>
