<h3>Welcome to nano twitter</h3>
<form action="/users/submit" method="POST">
	<input type="text" name="user[username]" value="Enter your username" /><BR>
	<input type="text" name="user[password]" value="Enter password" /><BR>
	<input type="submit" value="Submit" />
</form>

<form action="/signup" method="GET">
	<input type="submit" value="Sign up" />
</form>

<BR>

<h3>50 posts of any user</h3>
