<h3>homepage with 50 posts of any user</h3>
<form action="/user/follow" method="POST">
	<input type="text" name="follow[follower]" value="Enter your username" /><BR>
	<input type="text" name="follow[followee]" value="Enter folwee username" /><BR>
	<input type="submit" value="Follow" />
</form>
<BR>
<a href="/">homepage</a><BR>



	
