<h3>new user sign up</h3>
<form action="/user/submit" method="POST">
	<input type="text" name="user[email]" value="Enter email" /><BR>
	<input type="text" name="user[username]" value="Enter username" /><BR>
	<input type="text" name="user[password]" value="Enter password" /><BR>
	<input type="text" name="user[profile]" value="profile information" /><BR>
	<input type="text" name="user[regist_date]" value="will extract time later" /><BR>
	<input type="submit" value="Submit" />
</form>
