<html>
<head>
    <meta charset="utf-8">
<<<<<<< HEAD
    <title>Person_page</title>
||||||| f9b6a49... lala
    <title>Timeline</title>
=======
    <title>SignUp</title>
>>>>>>> parent of f9b6a49... lala
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
  <form role="form" action="/create/twitter"method="POST">
    <div class="span6">
        <textarea class="form-control" name="tweet[content]" id="textarea" rows="6" placeholder="Enter a short synopsis" tabindex="1"></textarea>
        <br>
        <button class="btn">Tweet</button>
        <input type="submit" value="Tweet" class="btn btn-primary btn-block btn-lg" tabindex="2">
    </div>
</form>
<div class="bs-example">
<<<<<<< HEAD
    <table class="table table-striped">
        <thead>  
||||||| merged common ancestors
    <table class="table table-striped">
        <thead>
=======
    <table class="table">
        <thead>
>>>>>>> ef91a8826f45f4590f1412ebe6657a021987e46a
            <tr>
                <th>user_id</th>
                <th>content</th>
                <th>created_at</th>
            </tr>
        </thead>
        <tbody>
          <% if !@tweet_list.nil? %>
            <% @tweet_list.each do |twitter| %>
              <tr>
                  <td><%= twitter.content %></td>
              </tr>

        </tbody>
    </table>
</div>
</body>
</html>
